<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <div class="form-group">
        <label for="nome">Name</label>
        <input type="text" [(ngModel)]="project.nome" class="form-control" id="nome" name="nome" placeholder="Informe o nome"
          required #nome="ngModel">
      </div>
      <div [hidden]="!nome.pristine" class="alert alert-danger">campo "Nome" requerido</div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" [(ngModel)]="project.descricao" class="form-control" id="descricao" name="descricao" placeholder="Informe a descricao"
          required #descricao="ngModel">
        <div [hidden]="!descricao.pristine" class="alert alert-danger">campo "Descrição" requerido</div>
      </div>
      <button type="submit" [disabled]="!projectForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>